<a href="https://colab.research.google.com/github/namhsuya/plntfdb3_webscraper/blob/master/plnTFDB_3_0_webscraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Installing webscraping libraries
!pip install bs4
!pip install selenium

In [ ]:
# important libraries
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# Setting Chrome webdriver
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [ ]:
# Transcription factor families(tff) as extracted from plTFDB3.0 website
tff=["ABI3VP1",
"C3H","HRT","S1Fa-like","Alfin-like","CAMTA","HSF","SBP","AP2-EREBP","CCAAT","LFY","Sigma70-like","ARF",
"CPP","LIM","SRS","ARR-B","CSD","LOB","TAZ","BBR/BPC","DBP","MADS","TCP","BES1","E2F-DP","mTERF","Tify",
"bHLH","EIL","MYB","Trihelix","BSD","FAR1","MYB-related","TUB","bZIP","FHA","NAC","ULT","C2C2-CO-like","G2-like",
"OFP","VOZ","C2C2-Dof","GeBP","Orphans","WRKY","C2C2-GATA","GRAS","PBF-2-like","zf-HD","C2C2-YABBY","GRF",
"PLATZ","C2H2","HB","RWP-RK","ARID","IWS1","PHD","SOH1","AUX/IAA","Jumonji","Pseudo ARR-B","SWI/SNF-BAF60b",
"Coactivator p15","LUG","RB","SWI/SNF-SWI3","DDT","MBF1","Rcd1-like","TRAF","GNAT","MED6","SET","HMG","MED7","SNF2"]

In [ ]:
DATA=[]
for tf in tff:
  tff_base_url='http://plntfdb.bio.uni-potsdam.de/v3.0/fam_mem.php?family_id='+tf+'&sp_id=OSAJ'

  driver.get(tff_base_url)
  ele = driver.find_elements_by_xpath("//table[@class='details']/tbody/tr")
  for e in ele:
    row=e.find_elements_by_xpath(".//td")
    if len(row)>0:
      DATA.append([tf, row[1].text,row[2].text,row[3].text])

In [ ]:
tffDF=pd.DataFrame(TFF_DATA, columns=['family','tf','description','domain'])

In [ ]:
tffDF.to_csv('plnTFDB3_Oryza_sativa.txt',sep='\t',index=False)

In [ ]:
tffDF.head()

    family  ...      domain
0  ABI3VP1  ...  AT_hook B3
1  ABI3VP1  ...          B3
2  ABI3VP1  ...          B3
3  ABI3VP1  ...          B3
4  ABI3VP1  ...          B3

[5 rows x 4 columns]